<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="/css/homepage.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous" />
</head>

<body class="home-bg">
    <div>
        <!-- Navigation Bar -->
        <nav class="navbar navbar-expand-lg navbar-light bar-bg fixed-top">
            <div class="container">
                <!-- Logo -->
                <a class="navbar-brand" href="dashboard.ejs">
                    <h1 class="brand"><span style="color: red;">Stay</span><span style="color: royalblue;">Spot</span></h1>
                </a>
            </div>
        </nav>
    </div>

    <!-- Main Content -->
    <div class="container d-flex flex-column justify-content-center align-items-center min-vh-100">
        <div class="col-12 col-md-6" style="padding-top:10%;">
            <h1 class="text-center mb-4" style="color: #000000;">Add Hostel</h1>
            <form action="/addHostel" method="POST">
                <div class="form-group">
                    <label for="hostelName" style="color: #000000;">Hostel ID</label>
                    <input type="text" class="form-control" id="hostelID" name="hostelID" placeholder="Enter hostel ID" required>
                </div>
                <div class="form-group">
                    <label for="hostelName" style="color: #000000;">Hostel Name</label>
                    <input type="text" class="form-control" id="hostelName" name="hostelname" placeholder="Enter hostel name" required>
                </div>
                <div class="form-group">
                    <label for="remainingRooms" style="color: #000000;">Monthly Rent</label>
                    <input type="number" class="form-control" id="monthlyRent" name="monthlyRent" placeholder="Enter Monthly Rent" required>
                </div>
                <div class="form-group">
                    <label for="hostelName" style="color: #000000;">Facilities</label>
                    <input type="text" class="form-control" id="facilities" name="facilities" placeholder="Enter Top facilities" required>
                </div>
                <div class="form-group">
                    <label for="location" style="color: #000000;">Location</label>
                    <input type="text" class="form-control" id="location" name="location" placeholder="Enter location" required>
                </div>
                <div class="form-group">
                    <label for="remainingRooms" style="color: #000000;">Remaining Rooms</label>
                    <input type="number" class="form-control" id="numberOfRooms" name="numberOfRooms" placeholder="Enter remaining or available rooms" required>
                </div>
                
                <div class="form-group">
                    <label for="contactNumber" style="color: #000000;">Contact Number</label>
                    <input type="text" class="form-control" id="ContactNumber" name="ContactNumber" placeholder="Enter contact number" required>
                </div>
                <div class="text-center">
                    <button type="submit" class="btn btn-primary">Add Hostel</button>
                </div>
            </form>
        </div>
    </div>
</body>

</html>