<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="/css/homepage.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous" />
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
</head>

<body class="home-bg">
    <!-- Navigation Bar -->
    <div>
        <nav class="navbar navbar-expand-lg navbar-light bar-bg fixed-top">
            <div class="container">
                <a class="navbar-brand" href="/homepage">
                    <h1 class="brand"><span style="color: red;">Stay</span><span style="color: royalblue;">Spot</span></h1>
                </a>
                <button style="background-color:#fff;" class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                    <div style="padding: 10px;" class="navbar-nav">
                        <a class="nav-link active" id="navItem1" href="/homepage">
                            <span style="padding-left: 10px;padding-right: 10px; color:#fff; font-family:Roboto; font-weight:600; font-size: 18px;">Home</span>
                            <span class="sr-only">(current)</span>
                        </a>
                        <a style="padding-left: 10px; padding-right: 10px; color:#fff; font-family:Roboto; font-size: 18px; font-weight:600;" class="nav-link" href="/my-reserves" id="navItem2">My Reserves</a>
                        <a style="padding-left: 10px; padding-right: 10px; color:#fff; font-family:Roboto; font-size: 18px; font-weight:600;" class="nav-link" href="/search" id="navItem3">Search</a>
                        <!-- <a style="padding-left: 10px;padding-right: 10px; color:#fff; font-family:Roboto; font-size: 18px; font-weight:600;" class="nav-link" href="/login" id="navItem4">Login</a> -->
                        <a style="padding-left: 10px; padding-right: 10px; color:#fff; font-family:Roboto; font-size: 18px; font-weight:600;" class="nav-link" href="/contact-us" id="navItem4">Contact Us</a>
                    </div>
                </div>
            </div>
        </nav>
    </div>

    <!-- Main Content -->
    <div class="container d-flex flex-column justify-content-center align-items-center min-vh-100">
        <div class="text-center">
            <h1 style="color: #000000;">India's Top App for Finding Hostels & PGs!</h1>
            <p class="para" style="font-size: 18px;">“Find your stay, your way!”</p>
            
            <!-- Search and LogOut Buttons -->
            <div class="mt-4">
                <a href="/search" style="background-color: #fff;color:royalblue" class="btn btn-primary btn-lg">Search</a>
                <form action="/logout" method="POST" class="d-inline ml-3">
                    <button type="submit" class="btn btn-danger btn-lg" style="background-color: #fff;color:red">LogOut</button>
                </form>
            </div>
        </div>
    </div>
</body>

<script></script>

</html>